<section class="sect">
  <div class="wrap">
    <h2 id="bw">Beyond Worlds</h2>
    <p>In a nut shell, <strong id="accent">Beyond Worlds</strong> is a <strong>scenario campaign</strong> and it will be a survival rougelike <strong>pc game</strong>.</p>
    <br>
    <p>The scenario, well it is not actually a scenario, but rather but rather an universe filled with an infinity of worlds.
      Each of wich will be worth of an entire campaign, with detailed wild landscapes full of hidden dangers, and travelling from one to another an epic journey.</p>
    <br>
    <p>In the pc game you will control a small caravan, and must travel through multiple realities.
      Besides the typical "find food and shelter" kind of gameplay, you also must cope with outworldy biomes and creatures. All of that using very scarce resources.
      Yes ma 'friend, we want you to feel like a real human being, with the brutal task to survive in a hostile roadtrip, through the most messed up places our brains can cook up.</p>
    <br>
    <p>The <strong id="sq">official website</strong> filled with news, arts and samples of the universe should be out in the wild anytime before <strong>June/2016</strong> - that's the latest, pessimistic deadline.</p>
  </div>
</section>
