<footer id="contact">
  <div class="cont-wrap">
    <div class="contact ct-link" id="email">
      <p>Send us an <strong>email</strong>:</p>
      <a href="malito:contact@sidequest.productions">contact@sidequest.productions</a>
    </div>
    <div class="social">
      <a class="ct-link" href="#" target="_blank">
        <div class="footer-icon">{% include icons/icon-kick.html %}</div>
      </a>
      <a class="ct-link" href="#" target="_blank">
        <div class="footer-icon">{% include icons/icon-git.html %}</div>
      </a>
      </a>
    </div>
    <div class="copy">
      <div class="footer-icon" id="copy">{% include icons/icon-c.html %}</div>
      <p>2015 SideQuest Productions</p>
    </div>
  </div>
</footer>
